<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    <nav>
        <div class="navbar">
          <div class="logo"><a href="homepage/">LetMeVote</a></div>
          <ul class="menu">
            
            <li><a href="{% url 'polls:index' %}">Vote</a></li>
          </ul>
        </div>
      </nav>
</body>
</html>